<footer>
    <p>
      {{- with .Site.Copyright }}
        {{ . | markdownify }}
      {{- else }}
        &copy; {{ now.Format "2006" }} {{ .Site.Title }}
      {{- end }}
    </p>
  </footer>
  
  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
  <script>
    kofiWidgetOverlay.draw('flush', {
      'type': 'floating-chat',
      'floating-chat.donateButton.text': 'Support me',
      'floating-chat.donateButton.background-color': '#00b9fe',
      'floating-chat.donateButton.text-color': '#fff'
    });
  </script>
  
  